.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rs-cluster-marker,
.pos-cluster-marker,
.obs-cluster-marker {
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rs-cluster-marker {
    background: #2ecc71;  
}

.pos-cluster-marker {
    background: red;
}

.obs-cluster-marker {
    background-color: orange;
}

.rs-marker,
.pos-marker,
.obs-marker {
    background: none;
    border: none;
    cursor: pointer;
}

.rs-marker img,
.pos-marker img,
.obs-marker img {
    width: 15px;
}

.popup-content {
    font-size: small;
    max-width: 400px;
}

.popup-content p {
    line-height: 1;
}

.single-contact {
    margin-right: 8px;
}

.kapasitas-container {
    padding-top: 10px;
    border-top: 1px solid gray;
}

.kapasitas-container table tr td {
    vertical-align: top;
}

.mapboxgl-popup-close-button {
    color: red !important;
    font-size: x-large;
}

.mapboxgl-popup {
    z-index: 1;
}

.mapboxgl-popup-content {
    background-color: rgba(255, 255, 255, 0.93) !important;
}

.checkbox-group {
    background: white;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 4px;
}

.checkbox-group div {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    font-size: small;
}

.credit-attribution-link-container {
    position: absolute;
    right: 6px;
    bottom: 6px;
    padding: 4px;
}

.credit-attribution-link {
    color: white;
    background: transparent;
    border: 1px solid red; 
    cursor: pointer;
    background-color: rgba(255, 0, 0, 1);
    padding: 6px;
}

.credit-attribution-link:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.mobile-panel {
    background: rgba(255, 255, 255, 0.93);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    overflow-x: auto;
    z-index: 2;
    height: 50%;
}
.panel-close-button {
    position: absolute;
    right: 18px;
    top: 3px;
    background: red;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    color: red;
    color: red;
    border: 1px solid red;
    padding: 2px 10px 6px 10px;
    border-radius: 55%;
    background: transparent
}